In [19]:
import pandas as pd

In [14]:
data=pd.read_csv("C:/Users/Mayur Kotkar/Downloads/dataset_Facebook.csv" , sep=";")

In [11]:

data.shape

(500, 19)

In [21]:
#subset
d1=data[['Page total likes','Type','Category','Post Month']].loc[0:15]
d2=data[['Page total likes','Type','Category','Post Month']].loc[16:30]
d3=data[['Page total likes','Type','Category','Post Month']].loc[31:50]

In [24]:
#merging

merge=pd.concat([d1,d2,d3])

In [27]:
#transpose
transpose=data.transpose()

In [29]:
#shape
shape =data.shape

In [34]:
#reshape
reshape=pd.pivot_table(data,index=['Type','Category'],values='like')
reshape

                       like
Type   Category
Link   1          75.650000
       2          32.000000
       3          68.000000
Photo  1         126.000000
       2         235.857143
       3         219.753333
Status 1         136.333333
       2         182.552632
       3         151.500000
Video  1         231.428571